#main{
    
    margin: 5rem auto;
	background-color: white;
	height: 35rem;
	width: 35rem;

}
#color{
    margin:auto;
    
	height: 20rem;
	width: 20rem;
	border-radius: 50%;
	background-color: green;
}

#shape{
	height: 7rem;
	width: 7rem;
	background-color: black;
	position: relative;
	left:33%;
	top: 30%;
}

#butt1{
   height: 4rem;
   width: 12rem;
   margin: 50px 0px 0px 200px;
   

}
#butt2{
	height: 4rem;
   width: 12rem;
 margin:0px 0px 0px 200px;
 
 
}

button{
  width: 11rem;
  font-size:1.3rem;
  font-family:"times new roman";
  background: linear-gradient(to top right,white,grey 89%);
  box-shadow: 0px 0px 3px 1px black;
  letter-spacing: 1.5px;

}
